NodeRed/nodeRedData/flows.json
[{"id":"b3538a41.eb88d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fa2537e.ebdd8c8","type":"mqtt-broker","z":"","name":"Polizeileitstelle","broker":"172.20.0.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f3503f5b.e0b9e","type":"mqtt-broker","z":"","name":"PublicMQTT","broker":"broker.hivemq.com","port":"1883","clientid":"test-client","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b2664a20.e324b8","type":"mqtt in","z":"b3538a41.eb88d8","name":"Leitstelle","topic":"Leitstelle/#","qos":"0","datatype":"json","broker":"fa2537e.ebdd8c8","x":900,"y":20,"wires":[["fa502949.c33448"]]},{"id":"fa502949.c33448","type":"debug","z":"b3538a41.eb88d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":20,"wires":[]},{"id":"5e30eccd.9dfb24","type":"mqtt in","z":"b3538a41.eb88d8","name":"Status Wels1","topic":"Leitstelle/WE/Wels1/Status","qos":"0","datatype":"json","broker":"fa2537e.ebdd8c8","x":90,"y":480,"wires":[["f70e690.f0f9798"]]},{"id":"f70e690.f0f9798","type":"debug","z":"b3538a41.eb88d8","name":"Status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":480,"wires":[]},{"id":"5c41d998.986f48","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 EB","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["e19de09e.bb22d","3e71cb62.0ea184"]]},{"id":"e19de09e.bb22d","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":160,"wires":[]},{"id":"da7794cf.7d6e88","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 bed. EB","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["5697acdb.a4f2e4"]]},{"id":"5697acdb.a4f2e4","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":200,"wires":[]},{"id":"53fa21be.e0c57","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 annehmen/übernehmen","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["6073e0ca.dc6a3"]]},{"id":"6073e0ca.dc6a3","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":240,"wires":[]},{"id":"152bbe4e.2fa202","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 eingetroffen","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["b22a518f.3240f"]]},{"id":"b22a518f.3240f","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":280,"wires":[]},{"id":"d4393ee6.9ccbd","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 Sprechwunsch","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["b07f59ad.278c98"]]},{"id":"b07f59ad.278c98","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":320,"wires":[]},{"id":"577ea867.1a7b98","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 BHZ","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["d5d3f865.cf2078"]]},{"id":"d5d3f865.cf2078","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":360,"wires":[]},{"id":"3d34f17f.f68b3e","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 abmelden","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"7\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["9235e0f6.13054"]]},{"id":"9235e0f6.13054","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":400,"wires":[]},{"id":"a6784c13.4b9c2","type":"inject","z":"b3538a41.eb88d8","name":"Wels1 Sprechw. anderes BL","topic":"Leitstelle/WE/Wels1/Status","payload":"{\"id\":\"8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["54e712c2.00613c"]]},{"id":"54e712c2.00613c","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":440,"wires":[]},{"id":"de0c5ae4.c3f418","type":"mqtt in","z":"b3538a41.eb88d8","name":"Status Eferding1","topic":"Leitstelle/EF/Eferding1/Status","qos":"0","datatype":"json","broker":"fa2537e.ebdd8c8","x":100,"y":1000,"wires":[["e9c45f9f.fbde1"]]},{"id":"e9c45f9f.fbde1","type":"debug","z":"b3538a41.eb88d8","name":"Status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":1000,"wires":[]},{"id":"bb226d1a.19c5","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 EB","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["51634207.b9506c","554df0de.d6fda"]]},{"id":"51634207.b9506c","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":680,"wires":[]},{"id":"aa5fd280.92b18","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 bed. EB","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["8b798ae0.ff5618"]]},{"id":"8b798ae0.ff5618","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":720,"wires":[]},{"id":"7297e2a7.f0bcfc","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 annehmen/übernehmen","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":760,"wires":[["dfc4ce4c.75f0f"]]},{"id":"dfc4ce4c.75f0f","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":760,"wires":[]},{"id":"9768ce74.dfff3","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 eingetroffen","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["87c8419f.41036"]]},{"id":"87c8419f.41036","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":800,"wires":[]},{"id":"4f1338c0.186b08","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 Sprechwunsch","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":840,"wires":[["68c0b740.ce9378"]]},{"id":"68c0b740.ce9378","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":840,"wires":[]},{"id":"5d9a1cf5.3567d4","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 BHZ","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":880,"wires":[["dde3dbd1.94f1d8"]]},{"id":"dde3dbd1.94f1d8","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":880,"wires":[]},{"id":"72ff9de5.9935f4","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 abmelden","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"7\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["714dbbbd.320674"]]},{"id":"714dbbbd.320674","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":920,"wires":[]},{"id":"8369c702.345768","type":"inject","z":"b3538a41.eb88d8","name":"Eferding1 Sprechw. anderes BL","topic":"Leitstelle/EF/Eferding1/Status","payload":"{\"id\":\"8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":960,"wires":[["ffc4541b.c0dec8"]]},{"id":"ffc4541b.c0dec8","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":960,"wires":[]},{"id":"8c574a5b.cfda18","type":"mqtt in","z":"b3538a41.eb88d8","name":"Status Leonding1","topic":"Leitstelle/LL/Leonding1/Status","qos":"0","datatype":"json","broker":"fa2537e.ebdd8c8","x":1460,"y":480,"wires":[["ac89d165.8fb94"]]},{"id":"ac89d165.8fb94","type":"debug","z":"b3538a41.eb88d8","name":"Status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1850,"y":480,"wires":[]},{"id":"540796ea.5e3388","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 EB","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1470,"y":160,"wires":[["a62d42bd.a0c58","608631d7.cdca6"]]},{"id":"a62d42bd.a0c58","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":160,"wires":[]},{"id":"10ff7bc6.9aadd4","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 bed. EB","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":200,"wires":[["5b2367dc.86e828"]]},{"id":"5b2367dc.86e828","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":200,"wires":[]},{"id":"a75cffd9.5a2f7","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 annehmen/übernehmen","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":240,"wires":[["6bb4bf30.2afdb"]]},{"id":"6bb4bf30.2afdb","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":240,"wires":[]},{"id":"fd68c863.047528","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 eingetroffen","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1500,"y":280,"wires":[["447315a6.19e05c"]]},{"id":"447315a6.19e05c","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":280,"wires":[]},{"id":"bf81b20d.74e4f","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 Sprechwunsch","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1510,"y":320,"wires":[["4f23a96a.53c278"]]},{"id":"4f23a96a.53c278","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":320,"wires":[]},{"id":"18899fd1.3f704","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 BHZ","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1480,"y":360,"wires":[["b444fbc8.298858"]]},{"id":"b444fbc8.298858","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":360,"wires":[]},{"id":"936b607f.b938e","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 abmelden","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"7\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1500,"y":400,"wires":[["13cf526a.ade56e"]]},{"id":"13cf526a.ade56e","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":400,"wires":[]},{"id":"ae67405d.d7fcf","type":"inject","z":"b3538a41.eb88d8","name":"Leonding1 Sprechw. anderes BL","topic":"Leitstelle/LL/Leonding1/Status","payload":"{\"id\":\"8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":440,"wires":[["9d477e42.411d9"]]},{"id":"9d477e42.411d9","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":440,"wires":[]},{"id":"89a4e0c5.5c0c3","type":"mqtt in","z":"b3538a41.eb88d8","name":"Einsatzmeldung","topic":"Leitstelle/WE/Wels1/Einsatz","qos":"2","datatype":"json","broker":"fa2537e.ebdd8c8","x":100,"y":60,"wires":[["38a3d970.b00086"]]},{"id":"38a3d970.b00086","type":"debug","z":"b3538a41.eb88d8","name":"Einsatz","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":560,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"baf3d1a4.2a1ed","type":"inject","z":"b3538a41.eb88d8","name":"testeinsatz","topic":"Leitstelle/GM/Gmunden1/Einsatz","payload":"{\"id\":\"1\",\"description\":\"Banküberfall Raika\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":80,"wires":[["ad1cb75a.76d3b8"]],"icon":"node-red/alert.svg"},{"id":"ad1cb75a.76d3b8","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1100,"y":80,"wires":[]},{"id":"3e71cb62.0ea184","type":"change","z":"b3538a41.eb88d8","name":"Ende Einsatz","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":120,"wires":[["38a3d970.b00086"]]},{"id":"6ef8de08.317fe","type":"mqtt in","z":"b3538a41.eb88d8","name":"Einsatzmeldung","topic":"Leitstelle/EF/Eferding1/Einsatz","qos":"2","datatype":"json","broker":"fa2537e.ebdd8c8","x":100,"y":580,"wires":[["54a3162e.8d5c78"]]},{"id":"54a3162e.8d5c78","type":"debug","z":"b3538a41.eb88d8","name":"Einsatz","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":560,"y":640,"wires":[],"icon":"node-red/alert.svg"},{"id":"554df0de.d6fda","type":"change","z":"b3538a41.eb88d8","name":"Ende Einsatz","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":640,"wires":[["54a3162e.8d5c78"]]},{"id":"3495da59.289dd6","type":"mqtt in","z":"b3538a41.eb88d8","name":"Einsatzmeldung","topic":"Leitstelle/LL/Leonding1/Einsatz","qos":"2","datatype":"json","broker":"fa2537e.ebdd8c8","x":1460,"y":60,"wires":[["bf848661.420918"]]},{"id":"bf848661.420918","type":"debug","z":"b3538a41.eb88d8","name":"Einsatz","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1920,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"608631d7.cdca6","type":"change","z":"b3538a41.eb88d8","name":"Ende Einsatz","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":120,"wires":[["bf848661.420918"]]},{"id":"25688fc8.e11c3","type":"mqtt in","z":"b3538a41.eb88d8","name":"Status Braunau1","topic":"Leitstelle/BR/Braunau1/Status","qos":"0","datatype":"json","broker":"fa2537e.ebdd8c8","x":1460,"y":1000,"wires":[["b60192f2.fc009"]]},{"id":"b60192f2.fc009","type":"debug","z":"b3538a41.eb88d8","name":"Status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1850,"y":1000,"wires":[]},{"id":"248e0d70.aa2582","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 EB","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1470,"y":680,"wires":[["362c3b4a.11aef4","d6f6c079.e6dff"]]},{"id":"362c3b4a.11aef4","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":680,"wires":[]},{"id":"73d212c3.6c895c","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 bed. EB","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":720,"wires":[["c62a5307.e2868"]]},{"id":"c62a5307.e2868","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":720,"wires":[]},{"id":"f39be68c.d45f18","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 annehmen/übernehmen","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":760,"wires":[["f4e96d82.bc9c6"]]},{"id":"f4e96d82.bc9c6","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":760,"wires":[]},{"id":"6fa278d2.323e38","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 eingetroffen","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1500,"y":800,"wires":[["91499e14.74445"]]},{"id":"91499e14.74445","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":800,"wires":[]},{"id":"392f9fb.ef2dd6","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 Sprechwunsch","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1510,"y":840,"wires":[["77ecb7ca.f745d8"]]},{"id":"77ecb7ca.f745d8","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":840,"wires":[]},{"id":"d9fddf5b.2d58b","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 BHZ","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1480,"y":880,"wires":[["7d259da6.ec1e74"]]},{"id":"7d259da6.ec1e74","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":880,"wires":[]},{"id":"5c1249f2.38a0a8","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 abmelden","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"7\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":920,"wires":[["bef0056.a59a0f8"]]},{"id":"bef0056.a59a0f8","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":920,"wires":[]},{"id":"8be3c9b8.b173f8","type":"inject","z":"b3538a41.eb88d8","name":"Braunau1 Sprechw. anderes BL","topic":"Leitstelle/BR/Braunau1/Status","payload":"{\"id\":\"8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":960,"wires":[["6e722ddd.8ed5f4"]]},{"id":"6e722ddd.8ed5f4","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":960,"wires":[]},{"id":"6ba3f11c.f92b6","type":"mqtt in","z":"b3538a41.eb88d8","name":"Einsatzmeldung","topic":"Leitstelle/BR/Braunau1/Einsatz","qos":"2","datatype":"json","broker":"fa2537e.ebdd8c8","x":1460,"y":580,"wires":[["818baf09.3356c"]]},{"id":"818baf09.3356c","type":"debug","z":"b3538a41.eb88d8","name":"Einsatz","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1920,"y":640,"wires":[],"icon":"node-red/alert.svg"},{"id":"d6f6c079.e6dff","type":"change","z":"b3538a41.eb88d8","name":"Ende Einsatz","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":640,"wires":[["818baf09.3356c"]]},{"id":"64b2a26d.dd0ebc","type":"mqtt in","z":"b3538a41.eb88d8","name":"Status Freistadt1","topic":"Leitstelle/FR/Freistadt1/Status","qos":"0","datatype":"json","broker":"fa2537e.ebdd8c8","x":100,"y":1520,"wires":[["90af34c3.41c348"]]},{"id":"90af34c3.41c348","type":"debug","z":"b3538a41.eb88d8","name":"Status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":1520,"wires":[]},{"id":"aa3f32bc.9b7d4","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 EB","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1200,"wires":[["a3219d33.bfeab","1afb2e4a.95bc32"]]},{"id":"a3219d33.bfeab","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1200,"wires":[]},{"id":"5223cab7.289f64","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 bed. EB","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1240,"wires":[["1a2bf5d7.39898a"]]},{"id":"1a2bf5d7.39898a","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1240,"wires":[]},{"id":"5df7062c.a04388","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 annehmen/übernehmen","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1280,"wires":[["77f43660.d9d888"]]},{"id":"77f43660.d9d888","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1280,"wires":[]},{"id":"8930cd46.de9f5","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 eingetroffen","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1320,"wires":[["e41a4a35.d98258"]]},{"id":"e41a4a35.d98258","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1320,"wires":[]},{"id":"f024693a.2d8d58","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 Sprechwunsch","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1360,"wires":[["dd7b3992.aca638"]]},{"id":"dd7b3992.aca638","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1360,"wires":[]},{"id":"8cdd2543.77e9b8","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 BHZ","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1400,"wires":[["c79ceb2c.ae2128"]]},{"id":"c79ceb2c.ae2128","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1400,"wires":[]},{"id":"f59cb57d.c52048","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 abmelden","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"7\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1440,"wires":[["85ea8b70.4fad78"]]},{"id":"85ea8b70.4fad78","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1440,"wires":[]},{"id":"8013c7e1.4b7008","type":"inject","z":"b3538a41.eb88d8","name":"Freistadt1 Sprechw. anderes BL","topic":"Leitstelle/FR/Freistadt1/Status","payload":"{\"id\":\"8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1480,"wires":[["d052efab.86f1"]]},{"id":"d052efab.86f1","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":390,"y":1480,"wires":[]},{"id":"6c612a78.d3f314","type":"mqtt in","z":"b3538a41.eb88d8","name":"Einsatzmeldung","topic":"Leitstelle/FR/Freistadt1/Einsatz","qos":"2","datatype":"json","broker":"fa2537e.ebdd8c8","x":100,"y":1100,"wires":[["91fe575e.6f0458"]]},{"id":"91fe575e.6f0458","type":"debug","z":"b3538a41.eb88d8","name":"Einsatz","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":560,"y":1160,"wires":[],"icon":"node-red/alert.svg"},{"id":"1afb2e4a.95bc32","type":"change","z":"b3538a41.eb88d8","name":"Ende Einsatz","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1160,"wires":[["91fe575e.6f0458"]]},{"id":"8c48b45b.bc60c8","type":"mqtt in","z":"b3538a41.eb88d8","name":"Status Gmunden1","topic":"Leitstelle/GM/Gmunden1/Status","qos":"0","datatype":"json","broker":"fa2537e.ebdd8c8","x":1470,"y":1520,"wires":[["824a0a81.9dde58"]]},{"id":"824a0a81.9dde58","type":"debug","z":"b3538a41.eb88d8","name":"Status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1750,"y":1520,"wires":[]},{"id":"552146b6.f2dd48","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 EB","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1480,"y":1200,"wires":[["3da381d6.53a8fe","32b9b83f.d41e38"]]},{"id":"3da381d6.53a8fe","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1200,"wires":[]},{"id":"dc269169.6c9df","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 bed. EB","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":1240,"wires":[["fcf1e43a.ec16f8"]]},{"id":"fcf1e43a.ec16f8","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1240,"wires":[]},{"id":"1e8bbe7d.9b2b32","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 annehmen/übernehmen","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":1280,"wires":[["a3305c82.f1bf9"]]},{"id":"a3305c82.f1bf9","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1280,"wires":[]},{"id":"5516d9d2.05b4d8","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 eingetroffen","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1500,"y":1320,"wires":[["ed556236.f9e36"]]},{"id":"ed556236.f9e36","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1320,"wires":[]},{"id":"1a718d45.4a63e3","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 Sprechwunsch","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1510,"y":1360,"wires":[["f7c1aa01.d2bc18"]]},{"id":"f7c1aa01.d2bc18","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1360,"wires":[]},{"id":"bc2598a3.6f6c68","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 BHZ","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1480,"y":1400,"wires":[["7020cc78.199544"]]},{"id":"7020cc78.199544","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1400,"wires":[]},{"id":"2d91cbc3.fc6044","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 abmelden","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"7\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1500,"y":1440,"wires":[["b8836bca.ac01e8"]]},{"id":"b8836bca.ac01e8","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1440,"wires":[]},{"id":"6fb0d7f5.d4c9d8","type":"inject","z":"b3538a41.eb88d8","name":"Gmunden1 Sprechw. anderes BL","topic":"Leitstelle/GM/Gmunden1/Status","payload":"{\"id\":\"8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":1480,"wires":[["2922ddfc.f8f1a2"]]},{"id":"2922ddfc.f8f1a2","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":1750,"y":1480,"wires":[]},{"id":"f62e5761.82cdf8","type":"mqtt in","z":"b3538a41.eb88d8","name":"Einsatzmeldung","topic":"Leitstelle/GM/Gmunden1/Einsatz","qos":"2","datatype":"json","broker":"fa2537e.ebdd8c8","x":1460,"y":1100,"wires":[["db149208.55d9c"]]},{"id":"db149208.55d9c","type":"debug","z":"b3538a41.eb88d8","name":"Einsatz","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1920,"y":1160,"wires":[],"icon":"node-red/alert.svg"},{"id":"32b9b83f.d41e38","type":"change","z":"b3538a41.eb88d8","name":"Ende Einsatz","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":1160,"wires":[["db149208.55d9c"]]}]