NodeRed/nodeRedData/flows.json
[{"id":"b3538a41.eb88d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fa2537e.ebdd8c8","type":"mqtt-broker","z":"","name":"Polizeileitstelle","broker":"172.20.0.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f3503f5b.e0b9e","type":"mqtt-broker","z":"","name":"PublicMQTT","broker":"broker.hivemq.com","port":"1883","clientid":"test-client","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ec450b3.601ad","type":"inject","z":"b3538a41.eb88d8","name":"Sensor1","topic":"sensors/sensor1","payload":"Open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":220,"wires":[["ece88e3b.dfbd1"]]},{"id":"ece88e3b.dfbd1","type":"mqtt out","z":"b3538a41.eb88d8","name":"","topic":"hello","qos":"","retain":"","broker":"fa2537e.ebdd8c8","x":740,"y":240,"wires":[]},{"id":"b2664a20.e324b8","type":"mqtt in","z":"b3538a41.eb88d8","name":"","topic":"sensors/#","qos":"0","datatype":"auto","broker":"fa2537e.ebdd8c8","x":400,"y":520,"wires":[["fa502949.c33448"]]},{"id":"fa502949.c33448","type":"debug","z":"b3538a41.eb88d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":520,"wires":[]}]